@media screen and (min-width: 768px) {
  
    body {
        font-size: 16px; }

    header {
        text-align: center;
        display: flex;
        justify-content: center; 
        align-items: center; 
        background-color: rgb(50, 108, 235);
    }

    header img {
        margin-right: 10px;
        max-width: 20%; 
        max-height: 200px;
        border: 2px solid #131516; 
    }
        nav {
            display: flex;
            justify-content: center;
            background-color: #000000;
            padding: 10px 0;
        }
    
        
        nav ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            justify-content: space-around; 
            flex-grow: 1; 
        }
    
        nav li {
            margin: 15px;
        }
    
        nav a {
            color: #fff;
            text-decoration: none;
        }
    
        nav a:hover {
            text-decoration: underline;
            background-color: rgb(177, 136, 136);
        }


        
        main {
            max-width: 768px;
            margin: 0 auto;
            padding: 20px;
            display: grid;
            grid-gap: 20px;
            grid-template-columns: 1fr 1fr;
        }
    
        .card {
            width: auto;
            border: 1px solid #ccc;
            padding: 10px;
            display: flex;
            flex-direction: column;
        }
    
        .card h3 {
            background-color: #007ACC; 
            color: #fff; 
            padding: 5px; 
            margin: 0; 
            text-align: center;
        }
    
        
        main h2 {
            text-align: center; 
            grid-column: 1 / span 2;
            margin-bottom: 20px; 
        }
    
   
    /* fixed the issue where I could not see the lastModified p element, I fixed it by removing the height from the footer style */   
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #333; 
        color: #fff; 
    }

    #flag {
        max-width: 100px; 
        max-height: 80px; 
        vertical-align: middle; 
    }

    footer #lastModified {
        
        display: block; 
        
    }
    
}